SUPABASE_URL=https://gejeykzajuimdqotbtyg.supabase.co
SUPABASE_SERVICE_KEY=pega_aqui_tu_secret_key_de_supabase
JWT_SECRET=superhidromack-secreto-2026
ADMIN_INVITE_CODE=cambia_esto_por_un_codigo_seguro
FRONTEND_URL=https://super-hidro-mack.vercel.app
NODE_ENV=production